<body>

  <div *ngIf="cinema">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Cinema</mat-card-title>
        <mat-card-subtitle>ID: {{cinema.id}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem">Name: {{cinema.name}}</mat-list-item>
          <mat-list-item role="listitem">Address: {{cinema.address}}</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

</body>
