body {
  width: 100%;
}

table{
  width: 100%;
  border-color: var(--turquoise);
}

.basic-container {
  margin: 10px 30px 30px 30px;
}

.id{
  width: 4%;
}

.column{
  width: 45%;
}

.actions {
  width: 5%;
}

button{
  margin: 10px 2px;
  border: 2px solid var(--black);
  border-radius: 5px;
  width: 30px;
  height: 40px;
  background-color: var(--white);
  text-align: center;
  padding: 1px;
}

button:hover{
  background-color: var(--turquoise);
}

button:active{
  background-color: var(--dark-turquoise);
}

a{
  color: black;
}

.id-button{
  border-radius: 100px;
}

.add-button{
  background-color: var(--white);
}


.search{
  display: flex;
  width: 100%;
}

.form{
  margin-left: auto;
  margin-right: 30px;
}

.form-search{

  width: 200px;
  height: 50px;
}


.container {
  margin: 10px 30px 30px 30px;
  height: auto;
  box-shadow: 2px 0 9px rgba(0,0,0,0.4);
}

th{
  font-size: 16px;
  color: var(--turquoise);
  background-color: var(--black);
}

tr{
  color: var(--black);
  background-color: var(--white);
}

td{

}

mat-paginator{
  color: var(--black);
  background-color: var(--white);
}

::ng-deep .mat-sort-header-arrow {
  color: var(--turquoise);
}


