table{
  width: 100%;
}

.basic-container {
  margin: 10px 30px 30px 30px;
}

.id{
  width: 60px;
}

.update{
  width: 60px;
}

button{
  margin: 10px 2px;
  border-radius: 5px;
  width: 30px;
  height: 40px;
  background-color: #C5C6C7;
  text-align: center;
  padding: 1px;
}

.id_button{
  border-radius: 100px;
}

.add-button{
  background-color: #66FCF1;
}

.edit-button{

}

.update-button{

}


/* Structure */
.container {
  margin: 10px 30px 30px 30px;
  height: auto;
  box-shadow: 2px 0 9px rgba(0,0,0,0.4);
}

th{
  font-size: 16px;
  color: #66FCF1;
  background-color: #1F2233;
}

tr{
  color: #1F2233;
  background-color: #C5C6C7;
}

td{

}

mat-paginator{
  color: #1F2233;
  background-color: #C5C6C7;
}
