<body>

<button class="back-button"> <a href="/tickets"> <mat-icon aria-hidden="false">chevron_left</mat-icon> </a> </button>

<mat-card class="card">

  <mat-card-header>
    <mat-card-title>Ticket</mat-card-title>
    <mat-card-subtitle>- are you sure you want to delete -</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <p> </p>
    <mat-list role="list">
      <mat-list-item role="listitem">Price: {{ticket ? ticket.price : ""}}</mat-list-item>
      <mat-list-item role="listitem">Date: {{ticket ? ticket.date : ""}}</mat-list-item>
      <mat-list-item role="listitem">Time: {{ticket ? ticket.time : ""}}</mat-list-item>
      <br/>
      <mat-list-item role="listitem">Movie's Name: {{ticket && ticket.movie ? ticket.movie.name : ""}}</mat-list-item>
      <br/>
      <mat-list-item role="listitem">Room's Name: {{ticket && ticket.room ? ticket.room.name : ""}}</mat-list-item>
      <br/>
      <mat-list-item role="listitem">Client's Name: {{ticket && ticket.client ? ticket.client.firstName : ""}} {{ticket && ticket.client ? ticket.client.lastName : ""}}</mat-list-item>

    </mat-list>

    <mat-action-list>
      <mat-card-actions align="end">
        <button mat-button (click)="deleteTicket()"> <mat-icon aria-hidden="false">send</mat-icon> </button>
      </mat-card-actions>
    </mat-action-list>


  </mat-card-content>
</mat-card>

</body>






