<body>

<button class="back-button"> <a href="/movies"> <mat-icon aria-hidden="false">chevron_left</mat-icon> </a> </button>

<mat-card class="card">

  <mat-card-header>
    <mat-card-title>Movie</mat-card-title>
    <mat-card-subtitle>- are you sure you want to delete -</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <mat-list role="list">
      <mat-list-item role="listitem">Name: {{movie ? movie.name : ""}}</mat-list-item>
      <mat-list-item role="listitem">Genre: {{movie ? movie.genre : ""}}</mat-list-item>
      <mat-list-item role="listitem">Duration: {{movie ? movie.duration : ""}}</mat-list-item>
    </mat-list>

    <mat-action-list>
      <mat-card-actions align="end">
        <button mat-button (click)="deleteMovie()"> <mat-icon aria-hidden="false">send</mat-icon> </button>
      </mat-card-actions>
    </mat-action-list>


  </mat-card-content>
</mat-card>

</body>






