<body>

<div class="search">
  <form class="form">
    <mat-form-field appearance="outline" class="form-search">
      <input matInput type="text" autocomplete="off" placeholder="Search" [formControl]="formSearch"/>
      <mat-icon matPrefix aria-hidden="false">search</mat-icon>
    </mat-form-field>
  </form>
</div>

<div class="mat-elevation-z8 container">
  <div class="table-container">
    <table mat-table matSort [dataSource]="dataSource" class="table">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="id"> <button class="add-button"> <a routerLink="/rooms-add" > <mat-icon aria-hidden="false">add</mat-icon> </a> </button> </th>
        <td mat-cell *matCellDef="let room"> </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef class="column"> Name </th>
        <td mat-cell *matCellDef="let room"> {{room.name}} </td>
      </ng-container>

      <ng-container matColumnDef="floorNumber">
        <th mat-header-cell mat-sort-header *matHeaderCellDef class="column"> Floor No. </th>
        <td mat-cell *matCellDef="let room"> {{room.floorNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="cinemaName">
        <th mat-header-cell mat-sort-header *matHeaderCellDef class="column"> Cinema </th>
        <td mat-cell *matCellDef="let room"> {{room.cinema.name}} </td>
      </ng-container>

      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef class="update"> Update </th>
        <td mat-cell *matCellDef="let room" style="display: flex">
          <button class="update-button"> <a routerLink="/rooms-update" [state]="room"> <mat-icon aria-hidden="false">edit</mat-icon> </a> </button>
          <button class="delete-button"> <a routerLink="/rooms-delete" [state]="room"> <mat-icon aria-hidden="false">delete</mat-icon> </a> </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['id', 'name', 'floorNumber', 'cinemaName', 'update']"></tr>
      <tr mat-row *matRowDef="let room; columns: ['id', 'name', 'floorNumber', 'cinemaName', 'update'];" (click)="onSelected(room)"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5,10,20]"
                   showFirstLastButtons></mat-paginator>
  </div>
</div>

<app-room-details [room]="selectedRoom"></app-room-details>

</body>
