<body>

<div>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Room</mat-card-title>
      <mat-card-subtitle>ID: {{ticket ? ticket.id : ""}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item role="listitem">Price: {{ticket ? ticket.price : ""}}</mat-list-item>
        <mat-list-item role="listitem">Date: {{ticket ? ticket.date : ""}}</mat-list-item>
        <mat-list-item role="listitem">Time: {{ticket ? ticket.time : ""}}</mat-list-item>

        <mat-action-list>
          <mat-card-actions>
            <button (click)="openMovie()" [disabled]="ticket == null" > <a routerLink="/tickets">
              <mat-icon *ngIf="ticket != null" aria-hidden="false">theaters</mat-icon>
              <mat-icon *ngIf="ticket == null" aria-hidden="false">report</mat-icon>
            </a>
            </button>

            <button (click)="openRoom()" [disabled]="ticket == null" > <a routerLink="/tickets">
              <mat-icon *ngIf="ticket != null" aria-hidden="false">sensor_door</mat-icon>
              <mat-icon *ngIf="ticket == null" aria-hidden="false">report</mat-icon>
            </a>
            </button>

            <button (click)="openClient()" [disabled]="ticket == null" > <a routerLink="/tickets">
              <mat-icon *ngIf="ticket != null" aria-hidden="false">person</mat-icon>
              <mat-icon *ngIf="ticket == null" aria-hidden="false">report</mat-icon>
            </a>
            </button>


          </mat-card-actions>
        </mat-action-list>

      </mat-list>
    </mat-card-content>
  </mat-card>

  <div *ngIf="isOpenMovie">
    <app-movie-details [movie]="ticket ? ticket.movie : null"></app-movie-details>
  </div>

  <div *ngIf="isOpenRoom">
    <app-room-details [room]="ticket ? ticket.room : null" [fromTicket]="true"></app-room-details>
  </div>

  <div *ngIf="isOpenClient">
    <app-client-details [client]="ticket ? ticket.client : null" [fromTicket]="true"></app-client-details>
  </div>

  <div class="space"></div>
</div>

</body>
