<body>

<div>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Room</mat-card-title>
      <mat-card-subtitle>ID: {{ticket ? ticket.id : ""}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item role="listitem">Price: {{ticket ? ticket.price : ""}}</mat-list-item>
        <mat-list-item role="listitem">Date: {{ticket ? ticket.date : ""}}</mat-list-item>
        <mat-list-item role="listitem">Time: {{ticket ? ticket.time : ""}}</mat-list-item>

        <mat-card class="content">
          <mat-card-header>
            <mat-card-title>Movie</mat-card-title>
            <mat-card-subtitle>ID: {{ticket && ticket.movie ? ticket.movie.id : ""}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-list role="list">
              <mat-list-item role="listitem">Name: {{ticket && ticket.movie ? ticket.movie.name : ""}}</mat-list-item>
              <mat-list-item role="listitem">Genre: {{ticket && ticket.movie ? ticket.movie.genre : ""}}</mat-list-item>
              <mat-list-item role="listitem">Duration: {{ticket && ticket.movie ? ticket.movie.duration : ""}}</mat-list-item>

            </mat-list>
          </mat-card-content>
        </mat-card>

        <mat-card class="content">
          <mat-card-header>
            <mat-card-title>Room</mat-card-title>
            <mat-card-subtitle>ID: {{ticket && ticket.room ? ticket.room.id : ""}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-list role="list">
              <mat-list-item role="listitem">Name: {{ticket && ticket.room ? ticket.room.name : ""}}</mat-list-item>
              <mat-list-item role="listitem">Floor Number: {{ticket && ticket.room ? ticket.room.floorNumber : ""}}</mat-list-item>
              <mat-list-item role="listitem">Number of Seats: {{ticket && ticket.room ? ticket.room.numberOfSeats : ""}}</mat-list-item>
              <mat-list-item role="listitem">Cinema Name: {{ticket && ticket.room && ticket.room.cinema ? ticket.room.cinema.name : ""}}</mat-list-item>

            </mat-list>
          </mat-card-content>
        </mat-card>

        <mat-card class="content">
          <mat-card-header>
            <mat-card-title>Client</mat-card-title>
            <mat-card-subtitle>ID: {{ticket && ticket.client ? ticket.client.id : ""}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-list role="list">
              <mat-list-item role="listitem">Name: {{ticket && ticket.client ? ticket.client.firstName : ""}} {{ticket && ticket.client ? ticket.client.lastName : ""}}</mat-list-item>
              <mat-list-item role="listitem">eMail: {{ticket && ticket.client ? ticket.client.email : ""}}</mat-list-item>
              <mat-list-item role="listitem">Age: {{ticket && ticket.client ? ticket.client.age : ""}}</mat-list-item>

            </mat-list>
          </mat-card-content>
        </mat-card>

      </mat-list>
    </mat-card-content>
  </mat-card>

  <div class="space"></div>
</div>

</body>
