
button{
  width: 60px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--grey);
  border: 2px solid var(--black);
  margin-left: 24px;
}

button:hover{
  background-color: var(--turquoise);
}

button:active{
  background-color: var(--dark-turquoise);
}

a{
  display: block;
  align-items: center;
  margin: 3px 9px;
}

button:disabled{
  background-color: var(--red);
}

.back-button{
  margin-top: 15px;
  margin-left: 15px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid var(--black);
}

a{
  color: black;
}

.text-danger{
  color: var(--red);
  border: var(--red);
}


/*mat card*/
mat-card{
  position: relative;
  margin: 30px;
  width: 400px;
  background-color: var(--white);
  border-top: 7px solid var(--black);
  border-radius: 5px;
}

mat-card-content{
  border-radius: 5px;
  border-top: 2px solid var(--black);
  border-bottom: 2px solid var(--black);
}

mat-card-title{
  color: black;
  font-size:40px
}

mat-card-subtitle{
  color: black;
  font-size: 18px;
}

mat-card-actions{
  margin-right: 30px;
}

mat-form-field{
  width: 100%;
}
